nav {
    background-color: #2196F3;
}

@media only screen and (min-width: 992px) {
    nav .brand-logo {
        left: 1%
    }

    card {
        max-width: 400px
    }
}

.card {
    height: 300px
}
.card .card-image {
    height: 200px
}


.container {
    margin: 0 0 0 0;
}

.contact-name {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 36px;
    line-height: 100px;
    background: rebeccapurple;
}